@page "/game/{gameId}"
@using Microsoft.AspNetCore.SignalR.Client

<h1 title="@ConnectionState">
    @{
        var color = ConnectionState switch
        {
            HubConnectionState.Disconnected => "tomato",
            HubConnectionState.Connected => "green",
            _ => "lightgrey"
        };
    }
    <i class="fas fa-ship pr-2" style="color: @color"></i> Game
</h1>

<div class="pb-2">
    <button type="button" class="btn btn-lg btn-dotnet"
            title="Choose a row and column to fire at, then shot by clicking here."
            disabled="@(!_fireShotButtonEnabled)">
        <i class="fas fa-meteor pr-2"></i> Fire
    </button>
</div>

@if (_game is not null)
{
    <div class="pb-2">
        <GameBoard Size="_game.BoardSize" />
    </div>
}
else
{
    <span>Loading game board...</span>
}

<h5>Game Log</h5>

<ul class="list-group">
    @foreach (var message in _gameLog)
    {
        <li class="list-group-item">@message</li>
    }
</ul>